@import 'tailwindcss';

@plugin 'daisyui' {
	themes: light --default;
	root: ':root';
	include: button, input, label;
}

.lucide {
	@apply stroke-2;
}
.text-svg {
	@apply inline-block
		w-[1em]
		h-[1em];

	vector-effect: non-scaling-stroke;
}
